<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <style>
            h1{
                font-size: 50px;
                text-align: center;
            }
            body {
                background-color: lightblue;
            }
        </style>
        <h1>
            {{ page.heading }}
        </h1> 
    </head>


    <body>
        <p> Bloggy world! </p>
        <button><a href="https://neisenlo.github.io/home">Go to About Me</a></button>
        <button><a href="https://neisenlo.github.io/">Main Page</a></button>
        <button><a href="https://neisenlo.github.io/blog/p1/">Blog Post #1</a></button>
        <button><a href="https://neisenlo.github.io/blog/p2/">Blog Post #2</a></button>
    </body>

</html>