---
layout: blog
---
<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <style>
            h1{
                font-size: 50px;
                text-align: center;
            }
            body {
                background-color: lightblue;
            }
        </style>
        <h1>
            {{ page.heading }}
        </h1> 
    </head>


    <body>
        <p> Bloggy world! </p>

        <span>
            <button><a href="https://neisenlo.github.io/home">Go to About Me</a></button>
        <button><a href="https://neisenlo.github.io/">Main Page</a></button>
        </span>

        {% if site.posts.size > 0 %}
            <h2 class="post-list-heading">
                Posts
            </h2>
            <ul class="post-list">
            {% for post in site.posts %}
            <li>
                <div>
                {% assign date_format = site.minima.date_format 
                    | default: "%b %-d, %Y" %}
                <span class="post-meta">
                    {{ post.date | date: date_format }}
                </span>
                <h3>
                    <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                    </a>
                </h3>
                {% if site.show_excerpts %} 
                    {{ post.excerpt }} {% endif %}
                </div>
            </li>
            {% endfor %}
            </ul>

        {% endif %}

    </body>

</html>