<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <style>
            h1{
                font-size: 50px;
                text-align: center;
            }
            body {
                background-color: lightblue;
            }
        </style>
        <h1>
            About Me
        </h1> 
    </head>


    <body>
        <p> Hi there! My name is Nick. I am currenly a student at the University of Michigan. I am a late comer to the CS program so I am playing a very intense game of catch up right now. I'm from a rural Michigan town where the computer education ended with a typing class in 7th grade so coming to college I never had CS on my radar but so far I am happy with the choice to switch. </p>
        <button><a href="./blog.html">Go to blog</a></button>
        <button><a href="https://neisenlo.github.io/">Main page</a></button>
    </body>

</html>